html{
    font-size: 62.5%;
    font-family: Inter;
}

body{
    margin: 0;
    height: 100vh;

    background: #DAE0EA;
}

section{
    display: flex;
    width: 1000px;
    margin: 20em auto;
    position: relative;
}

section:before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 150px;
    height: 150px;
    background: #C7D0E0;
    border-radius: .5em;
    z-index: -1;
}

.left-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



h1{
    font-weight: bold;
    color: black;
    font-size: 4.3rem;
}

p{
    color: black;
    font-size: 2.2rem;
    padding: 0;
}


.button{
    display: inline-flex;

    gap: 1em;
    color: white;
    text-decoration: none;
    background: #1A63DD;
    font-size: 1.8em;

    padding: 1.3em;
    border-radius: .25em;
    font-weight: bold;
    align-self: flex-start;
    align-items: center;
}



.gallery{
    flex: 1;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.item{
    /* background-size: cover; */
    background-color: green;
    border-radius: 10px;
    background-size:cover;
}

.item:nth-last-of-type(1){
    grid-row: 1/3;
    background-image: url("../assets/fitness1.jpg");
}
.item:nth-last-of-type(2){
    background-image: url("../assets/fitness2.jpg");
    
}
.item:nth-last-of-type(3){
    background-image: url("../assets/fitness3.jpg");
}
